# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.development
.env.test
.env.production

# typescript
*.tsbuildinfo

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Temporary files
*.log
*.log.*
logs/
tmp/
temp/

# Testing
coverage/

# Build
build/
*.apk
*.aab
*.ipa

# Expo specific
.expo-shared/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Local Netlify folder
.netlify

# Bundle artifact
*.bundle
*.jsbundle